/*-------------------------------STYLE GENERALE--------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'poppins', sans-serif;
    background-image: url("images/fond164.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
}

/*-------------------------------STYLE GENERALE--------------------------------------------*/



/*-------------------------------STYLE DU HEADER--------------------------------------------*/
header{
    width: 100vw;
    margin-bottom: 60px;
    height: auto;
    color:  white;
}

.header-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo{
    font-size: 25px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.menu-list a {
    font-size: 20px;
    color: white;
    transition: color 0.3s ease;
}

.menu-list a:hover {
    color: #6c757d; 
}

.active{
  background-color: rgba(10, 25, 47, 0.85);
  text-align: center;
  width: 100px;
  border-radius: 10px;
}

.close-icon, .hamburger-icon{
    display: none !important;
}

/*-------------------------------STYLE DU HEADER--------------------------------------------*/



/*-----------------------------RESPONSIVE HEADER TABLETTE-----------------------------------*/

@media screen and (min-width: 769px) and (max-width: 900px){

    .logo{
        font-size: 20px;
    }

    .menu-list a{
        font-size: 15px;
    }
}

/*-----------------------------RESPONSIVE HEADER TABLETTE-----------------------------------*/




/*----------------------------RESPONSIVE HEADER MOBILE---------------------------------------*/
@media screen and (max-width: 768px){

    .menu-list{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color:#121212;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        padding-left: 2rem;
        gap: 1rem;
        z-index: 1000;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-list.open{
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .close-icon, .hamburger-icon{
        display: flex !important;
        font-size: 2rem;
    }
    .close-icon{
        position: absolute;
        top: 20px;
        right: 20px;
    }
 
}

/*-------------------------------RESPONSIVE HEADER MOBILE--------------------------------------------*/




/*------------------------------STYLE DU FORMULAIRE--------------------------------------------------*/

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 40vw;
    padding: 1rem;
}

section h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    color: white;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.input-icon label{
    font-size: 20px;
}

.input-wrapper input{
    border-radius: 10px;
    height: 3rem;
    width: 20rem;
    padding-left: 10px;
}

.input-wrapper i{
    position: relative;
    left: -2rem;
    color: black;
}

.input-wrapper ::placeholder{
    position: relative;
    right: -1rem;
}

button {
    font-size: 20px;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    background-color: #6c757d; 
    color: white;
    border: none;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a6268; 
}

/*------------------------------STYLE DU FORMULAIRE--------------------------------------------------*/




/*------------------------------RESPONSIVE FORMULAIRE TABLETTE----------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px){
    section{
        width: 70vw;
    }
}
/*------------------------------RESPONSIVE FORMULAIRE TABLETTE----------------------------------------*/




/*-------------------------------RESPONSIVE FORMULAITRE MOBILE---------------------------------------------------*/

@media screen and (max-width: 768px){
    section{
        width: 90vw;
    }

    section h2{
        font-size: 20px;
    }

    form{
        width: 100%;
        padding-left: 8px;
        z-index: 999;
    }

    .input-wrapper input{
        width: 17rem;
    }

}

/*-------------------------------RESPONSIVE FORMULAITRE MOBILE---------------------------------------------------*/